/* Image style */
.image-thumb, .image-thumbMain {
  height: auto;
  width: auto;
  max-width: 60px;
  max-height: 60px;
  margin-right: 10px;
  border-radius: 7px;
}
.image-thumb {
  border: 2px solid white;
}
.image-thumbMain {
  border: 2px solid black;
}
.image-main {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  min-width: 450px;
  min-height: 450px;
  border-radius: 7px;
}

/* Button style */
.image-left, .image-right, .image-fav {
  position: relative;
  top: 0;
  bottom: 0;
  filter: drop-shadow(0px 0px 5px rgb(150, 150, 150));
}
.image-left {
  max-width: 50px;
  max-height: 50px;
  margin-top: 225px;
}
.image-right {
  max-width: 50px;
  max-height: 50px;
  margin-top: 180px;
}
.image-fav {
  max-width: 45px;
  max-height: 45px;
  margin-left: 10px;
}

/* Layout */
.image-grid {
  display: flex;
  grid-template-columns: 5% 5% auto 5%;
  max-height: 525px;
  max-width: 700px;
  margin: 25px;
}
.image-col1 {
  grid-column: 1 / 4;
  padding: 0px;
  margin: 0px;
}
.image-col2 {
  grid-column: 2 / 4;
  padding: 0px;
  margin: 0px;
}
.image-col3 {
  grid-column: 3 / 4;
  min-width: 450px;
  min-height: 450px;
  padding: 0px;
  margin: 0px;
}
.image-col4 {
  grid-column: 4 / 4;
  padding: 0px;
  margin: 0px;
}